*echo[[:space:]].vscode/[[:space:]]>>[[:space:]].gitignore
git[[:space:]]add[[:space:]].gitignore
git[[:space:]]commit[[:space:]]-m[[:space:]]Ignore filter=lfs diff=lfs merge=lfs -text
VSCode filter=lfs diff=lfs merge=lfs -text
cache
 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/px4_ros_com/LICENSE filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text



*.db filter=lfs diff=lfs merge=lfs -text
/custom_interfaces/log/COLCON_IGNORE filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
